<sff-header [config]="headerConfig"></sff-header>

<!-- ***************** Components ***************** -->
<h2>Components</h2>

<h3>Logo</h3>
<sff-logo [config]="logoConfig"></sff-logo>

<h3>Field</h3>
<sff-field [config]="fieldConfig"></sff-field>

<h3>Star rater</h3>
<sff-star-rater [config]="starRaterConfig5"></sff-star-rater>
<sff-star-rater [config]="starRaterConfig4pt5"></sff-star-rater>
<sff-star-rater [config]="starRaterConfig4pt4"></sff-star-rater>


<!-- ***************** Widgets ***************** -->
<h2>Widgets</h2>

<h3>Buttons</h3>
<sff-button [config]="buttonConfig"></sff-button>

<h3>Content</h3>
<sff-content [config]="contentConfig"></sff-content>

<h3>Icons</h3>
<sff-icon [config]="iconConfig"></sff-icon>

<h3>SVG</h3>
<sff-svg [config]="svgConfig"></sff-svg>

<h3>Input</h3>
<sff-input></sff-input>



<router-outlet></router-outlet>