<h2>Components</h2>

<h3>Logo</h3>
<sff-logo [config]="logoConfig"></sff-logo>

<h3>Fields</h3>
<sff-field *ngFor="let fieldConfig of fieldConfigs" [config]="fieldConfig"></sff-field>

<h3>Star rater</h3>
<sff-star-rater [config]="starRaterConfig5"></sff-star-rater>
<sff-star-rater [config]="starRaterConfig4pt5"></sff-star-rater>
<sff-star-rater [config]="starRaterConfig4pt4"></sff-star-rater>

<h3>Call to Action Banner</h3>
<sff-cta-banner [config]="ctaBannerConfig"></sff-cta-banner>

<h3>Display cards</h3>
<div class="display-cards-container">
  <sff-display-card *ngFor="let displayCardConfig of displayCardConfigs" [config]="displayCardConfig"></sff-display-card>
</div>

<h3>Card grid</h3>
<sff-card-grid [config]="cardGridMediumConfig"></sff-card-grid>
<sff-card-grid [config]="cardGridSmallConfig"></sff-card-grid>
<sff-card-grid [config]="cardGridSmallTransparentConfig"></sff-card-grid>

<h3>Carousel</h3>
<sff-carousel [config]="carouselConfig"></sff-carousel>
