$Vivid-Lime-Green: #A3CE19;
$Bitter-Lemon: #CDCE19;
$Rich-Black: #030303;
$Charleston-Green: #282828;
$Platinum: #E3E3E3;
$Eggshell: #F2F2CE;
$White: #FFFFFF;


.primary {
  background-color: $Vivid-Lime-Green;
  color: $Rich-Black;
  font-family: Arial, Helvetica, sans-serif;
}

.secondary, .modal-card {
  background-color: $Bitter-Lemon;
  color: $Rich-Black;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-container {
  background-color: $Charleston-Green;
  color: $White;

  .navlinks-container .navlink:hover {
    background-color: $Eggshell;
    color: $Rich-Black;
  }

  .logo-container .svg-container .themed-svg {
    fill: $White !important;
  }
}