<h2>Forms</h2>

<h3>Submitting forms will console log the results</h3>

<h3>Single column form - Unconstrained</h3>
<sff-single-column-form 
  [config]="singleColumnFormConfig"
  (formSubmitted)="onFormSubmitted($event)">
</sff-single-column-form>

<h3>Single column form - Constrained</h3>
<div class="narrow-column">
  <sff-single-column-form 
    [config]="singleColumnFormConfig" 
    (formSubmitted)="onFormSubmitted($event)">
  </sff-single-column-form>
</div>

<h3>Form row</h3>
<div *ngFor="let config of formRowConfigs">
  <sff-form-row  [config]="config"></sff-form-row>
</div>

<h3>Multiple column form - Unconstrained</h3>
<sff-multiple-column-form 
  [config]="multipleColumnFormConfig"
  (formSubmitted)="onFormSubmitted($event)">
</sff-multiple-column-form>
  