// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$sigmafirefox-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($sigmafirefox-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($sigmafirefox-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($sigmafirefox-theme);
/* You can add global styles to this file, and also import other style files */

// *******************************************   General styling   *******************************************

html,
body {
  height: 100%;
  margin: 0;
}

// ******************************   Shared lib components and widgets theming   ******************************

$Vivid-Lime-Green: #A3CE19;
$Bitter-Lemon: #CDCE19;
$Rich-Black: #030303;
$Platinum: #E3E3E3;
$Eggshell: #F2F2CE;
$Charleston-Green: #282828;
$White: #FFFFFF;


.primary {
  background-color: $Vivid-Lime-Green;
  color: $Rich-Black;
  font-family: Arial, Helvetica, sans-serif;
}

.secondary, .modal-card {
  background-color: $Bitter-Lemon;
  color: $Rich-Black;
  font-family: Arial, Helvetica, sans-serif;
}

.input,
.textarea,
.internal {
  background-color: $Platinum;
}

.footer-container,
.navbar-container {
  background-color: $Charleston-Green;
  color: $White;

  .navlinks-container .navlink:hover {
    background-color: $Eggshell;
    color: $Rich-Black;
  }
}

.navbar-container .logo-container .svg-container .themed-svg {
  fill: white !important;
}

.display-card {
  background-color: $Eggshell;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
}