<sff-navbar [config]="navbarConfig"></sff-navbar>
<div class="module-window">
  <mat-drawer-container class="draw-container" autosize>
    
    <mat-drawer #drawer class="sidenav" mode="side" opened="true">
      <sff-navigation-menu [menu]="navigationMenu"></sff-navigation-menu>
    </mat-drawer>

    <div class="sidenav-button" mat-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </div>

    <div class="content-window">
      <router-outlet></router-outlet>
    </div>
    
  </mat-drawer-container>
</div>