<sff-navbar [config]="navbarConfig"></sff-navbar>
<div class="module-window">
  <mat-drawer-container class="draw-container" autosize>
    
    <mat-drawer #drawer class="open-menu" mode="side" opened="true">
      <sff-navigation-menu 
        class='open-menu-top' 
        [menu]="modulesMenu">
      </sff-navigation-menu>
      <sff-navigation-menu 
        class='open-menu-bottom' 
        [menu]="userMenu">
      </sff-navigation-menu>
    </mat-drawer>

    <div 
      *ngIf="drawer.opened" 
      class="open-menu-button" 
      (click)="drawer.toggle()">
      <mat-icon >close</mat-icon>
    </div>

    <div 
      *ngIf="!drawer.opened" 
      class="closed-menu"
      (click)="drawer.toggle()">
      <sff-navigation-menu 
        *ngIf="!drawer.opened" 
        [menu]="modulesMenu"
        [iconsOnly]="true">
      </sff-navigation-menu>
    </div>

    <div class="content-window">
      <router-outlet></router-outlet>
    </div>
    
  </mat-drawer-container>
</div>