.module-window {
  padding: 4rem 0 0 0;
  background-color: aqua;
}

.example-container {
  width: 100%;
  height: calc(100vh - 4rem);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: fit-content;
  min-width: 240px;
  border-radius: 0;
}